header{
   background-color: #F7E214;
   color: #000000;
}

body{
    background-color: #25457d;
    color: #FFFF;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}